@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .print-button {
      display: none;
    }
  }


  .triangle::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-left: 50px solid transparent;
  }
 